<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Note Wrangler</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="vendor/semantic-ui/css/semantic.css" />
  </head>

  <body>
    <h2>Log in to continue</h2>

    <form name='registration' method='post' action='/session'>
      <input type="hidden", name="_csrf", value='{{csrfToken}}'>
      <div>
        <input type='text' name='username' placeholder='User Name'>
      </div>

      <div>
        <input type='password' name='password' placeholder='Password'>
      </div>

      <div>
        <input type='submit' value='Submit'>
      </div>
    </form>

    <div>
      <a href='/sign_up'>Register</a>
    </div>
  </body>
</html>